@charset "UTF-8";

/* Typeface source: https://rsms.me/inter/ */
@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url("./Inter-roman.var.woff2?v=3.18") format("woff2");
}

html {
    background: black url("background2.jpg") center center no-repeat;
    background-size: cover;
    color: white;
}

body {
    display: block;
    place-items: center;
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;

    @media (min-width: 500px) { display: grid; }
} 


.Container {
    background: rgba(79, 109, 245, 0.8);
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.5em;

    @media (min-width: 300px) { margin: 2vh; padding: 2rem; border-radius: 2rem;} 
    @media (min-width: 500px) { margin: 7vw; padding: 3rem; }
}
 
header {
    display: block;
}

.Avatar {
    display: block;
    width: 112px;
    height: auto;
    margin: 0 1em 1em 0;
    border-radius: 50%;
    @media (min-width: 380px) {float: left;} 
    @media (min-width: 930px) {width: clamp(130px, 14vw, 12rem);} 
}

.TitlulPaginii {
    display: block;
    margin: 0;
    font-size: clamp(2rem, 6vw, 4rem);
    line-height: 1em;
}

.SubtitlulPaginii {
    display: block;
    margin: 0;
    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 100;
    line-height: 1em;
}

.DescrierePrincipala {
    display: block;
    margin: 0.5em 0 1.5em;

    @media ( min-width: 500px ){ margin-bottom: 0.5em;}
}

main {
    clear: both;
}

.ListaLinkuri {
    display: block;
    margin: 0;
    padding: 0;
}

.ListaItem{
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.ListaLink {
    display: block;
    padding: 0.5em;
    color: #fff;
    text-decoration: none;
}

.ListaLink:hover {
    background: white;
    color: black;
}

.ListaTitlu, .ListaText {
    display: block;
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.ListaText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: 1800px ) { display: grid; grid-template-columns: 1fr 1fr; } 
}
 

